# Configuration de la base de données PostgreSQL (Render)
DB_HOST=dpg-d1e9g0ili9vc739qgh6g-a
DB_USER=sergess_user
DB_PASSWORD=DPOT7AkgA6PdFyEgoFj7ldLNxkJo2vcm
DB_NAME=general_travel
DB_PORT=5432

# Configuration du serveur
PORT=10000
NODE_ENV=production

# Clé secrète pour les sessions
SESSION_SECRET=votre_secret_ultra_secret_production 